<%- include('partials/header') %>

<header class="hero d-flex align-items-center justify-content-center">
    <div class="hero-overlay"></div>
    <img class="bg" src="<%= '/img/' + blog.image %>">
    <div class="hero-content">
        <h1>
            <%= blog.title %>
        </h1>
    </div>
</header>

<main class="blog-desc">
    <div class="container">
        <h2><%= blog.title %></h2>
        <div class="row justify-content-center">
            <p class="blog-desc col-12 col-md-9">
                <%- blog.body %>
            </p>
        </div>
        <form class="delete-post" action="/blogs/<%= blog._id %>?_method=DELETE" method=POST>
            <button class="btn-pri">Delete</button>
            <a href="/blogs/<%= blog._id %>/edit" class="btn-pri">Edit</a>
        </form>
    </div>
</main>

<%- include('partials/footer') %>
