<%- include('../partials/header') %>

<header class="hero d-flex align-items-center justify-content-center">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>
            Our Campgrounds
        </h1>
        <p class="subtitle">
            Take a look at our campgrounds
        </p>
    </div>
</header>

<main class="highest-rated-cgs">
    <div class="cgs-list container">
        <h2>
            Campgrounds
        </h2>
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="cg">
                        <img src="<%= campground.image %>" alt="image of campground" class="camp-img"><!--
                        --><div class="cg-details"><!--
                            --><p class="cg-name"><%= campground.name %></p>
                            <p class="cg-text">
                                <%= campground.description.slice(0, 150) %>.....
                            </p>
                            <a href="<%= '/campgrounds/' + campground._id %>" class="btn-pri">Learn More</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
